<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jess Ngo</title>
</head>
<!-- <div class="right">hi</div> -->
<body>
  <div class="top text-center">
    <div class="boxed">
      <h1>Jess Ngo</h1>
      <h2>Hire Jess to avoid regret</h2>
    </div>
  </div>

  <div class="middle text-center">
    <!-- <h1>About me</h1>
    <h2>Cool things I have worked on</h2> -->
      <!-- <br><br> -->
  <!-- MANGOS -->
    <aside class="card">
      <header>
        <img src="<%= asset_path 'green.png'%>">
        <h1>STORY</h1>
        <h2>- My journey so far -</h2>
      </header>
      <div class="profile-bio">
        <p>Hello there!</p>
        <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
        <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>
      </div>
    </aside>
    <br><br><br><br><br>
    <aside class="card">
      <header>
        <img src="<%= asset_path 'pink.png'%>">
        <h1>PROJECTS</h1>
        <h2>- Cool things I have worked on-</h2>
      </header>
      <div class="work-profile-bio">
        <p>Wow wee!</p>

        <div class="row">
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"><img src="<%= asset_path '001-wings.png'%>">
              <div class="overlay column_1">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '002-money.png'%>">
              <div class="overlay column_2">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '004-money.png'%>">
              <div class="overlay column_3">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
        </div>




        <br><br><br>

        <div class="row">
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"><img src="<%= asset_path '004-fashion.png'%>">
              <div class="overlay column_4">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '003-technology.png'%>">
              <div class="overlay column_5">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '004-money.png'%>">
              <div class="overlay column_6">
                <div class="text">Hello World</div>
              </div>
            </a>
          </div>
        </div>
        <!-- <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.</p>

        <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p> -->
      </div>
    </aside>
    <br><br><br><br><br>
    <aside class="card">
      <header>
        <img src="<%= asset_path 'blue.png'%>">
        <h2>- I am proud of -</h2>
      </header>
      <div class="work-profile-bio">
        <p>Hello there!</p>
        <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.
        <a href ="https://www.organicfacts.net/wp-content/uploads/2013/11/lychees.jpg"><img src="https://www.organicfacts.net/wp-content/uploads/2013/11/lychees.jpg"></a>
        <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p>
      </div>
    </aside>
  </div>

  <div class = "container_2">
    <div class="droplet"></div>
  </div>

  <div class="ending">
  <!-- <img src="<%= asset_path 'bluesplashend.jpg'%>"> -->
    <!-- <h3><%= link_to "Contact", pages_contact_url %>
    <%= link_to "Gallery", pages_gallery_path %></h3> -->
  </div>
</body>
</html>
